  /* Add your CSS styling here */
  .superhero-card {
    border: 5px solid #000000;
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    font-weight: bolder;
    font-family: Agency FB , sans-serif;
    box-shadow: rgb(251, 2, 2) 0px 5px 15px;
  }

  .superhero-card img {
    width: 25vw;
    border-radius: 4px;
    
    
  }

  .is-bachelor-true {
    color: red;
  }

  .is-bachelor-false {
    color: green;
  }
  h2{
      font-family: ROG Fonts , sans-serif;  
  }